<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="hobby" /><button @click="add()">
        添加兴趣爱好
      </button>
      <ul>
        <li v-for="item in arr">{{item}}</li>
      </ul>
    </div>
  </body>
</html>

<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      arr: ['吃饭', '睡觉', '打豆豆'],
      hobby: '',
    },
    methods: {
      add: function () {
        this.arr.push(this.hobby)
        this.hobby = ''
      },
    },
  })
</script>
